<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="IrcServer" value="SomeIrcServer"/>
    <add key="Nick" value="SomeNickValue"/>
    <add key="IdentPass" value="PasswordComeAtMeGithubHackors"/>
    <add key="Channel" value="SomeIrcChannelWithHash"/>
    <add key="ChannelKey" value="AnotherPasswordNiceSearchBro"/>
  </appSettings>
</configuration>